body{
    background-color:  #c0e2ea;
    font-size: 20px;
}
#sidebarMenu{
    background-color: #fff;
    display: inline-block;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    color: #8f8a8a ;
 }
 .cont{
    background-color: #fff;
    margin-left: 21%;
    /* width: 50%; */
    height: 100px;
    justify-content: end;
    display: flex;
    right: 0;
    top: 0;
}
li{
    display: flex;
    border-radius: 10px;
    padding: 2rem;
    margin-right: 5px;
}
li:hover{
    background-color: #c0e2ea;
}
i, span{
    color: #8f8a8a ;
}
a{
    text-decoration: none;
}
.ma{
    display: flex;
    margin-left: 21%;
    margin-top: 20px;
}
.mo{
    background-color: #fff;
    height: 70vh;
    width: 100vh;
    border-radius: 10px;
    
}
.h{
    margin-left: 2rem;
    margin-top: 5rem;
    color:#8f8a8a 
}
.bu{
    width: 90rem;
    height: 5rem;
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
}
.h2{
    margin-left: 2rem;
    margin-top: 5rem;
    color:#8f8a8a 
}
.bu2{
    width: 90rem;
    height: 40rem;
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
}
.bu3{
    width: 90rem;
    height: 5rem;
    margin-left: 2rem;
    border-radius: 10px;
    border: none;
    margin-top:3rem;
    background-color: darkcyan;
    color: #fff;
}